<div id = "page-content">
  <div class = container>
    <%= render 'shared/alert_success' %>
    <%= image_tag "welcome.jpg" , alt: "Welcome" , width: "920" , height: "400" , class: "m-5" %>
  </div>
</div>
