<div id = "page-content">
  <div class = "container">
    <h1 class = "pt-3 text-center">New Course</h1>
    <%= render 'form', course: @course %>
    <%= link_to 'Back',courses_path, class:"text-center text-danger nav-link" %>
  </div>
</div>
